server:
    port: 8888
spring:
    datasource:
        dataSourceClassName: com.mysql.jdbc.jdbc2.optional.MysqlDataSource
        url: jdbc:mysql://127.0.0.1:3306/avery_recurit
        databaseName:
        serverName:
        username: root
        password: 123456

        cachePrepStmts: true
        prepStmtCacheSize: 250
        prepStmtCacheSqlLimit: 2048
        useServerPrepStmts: true

    jpa:
        database-platform: org.hibernate.dialect.MySQLInnoDBDialect
        database: MYSQL
        openInView: false
        show_sql: false
        generate-ddl: false
        hibernate:
            ddl-auto: none
    mail:
        protocol: smtp
        host: smtp.163.com
        port: 25
        auth: true
        username: 15591772025@163.com
        password: ll940302

#    velocity:
#        resource-loader-path: classpath:templates/EMAIL_TEMPLATE.vm
#        charset: utf-8
    thymeleaf:
      enabled: true
      mode: HTML5
      encoding: utf-8
      content-type: text/html
      prefix: classpath:/templates/
      suffix: .html
      check-template-location: true
      check-template: false
      cache: false
liquibase:
    change-log: classpath:lisquibase/master.xml
#    user: root
#    password: 123456
#    url: jdbc:mysql://127.0.0.1/test
    enabled: true
    drop-first: false
threadpool:
    threadCount: 10
